.main-hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/bg-img3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
 margin:0%;
}