body{
margin:0;
font-family:Arial;
}

/* Background */
.main-hero-section{
background-color: #ec6839df;
}

/* Form Container */
.container{
max-width:500px;
background:white;
margin:60px auto;
padding:25px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

/* Heading */
.container h1{
text-align:center;
color:#E6501B;
}

.sub{
text-align:center;
color:gray;
margin-bottom:20px;
}

/* Form */
.form{
display:flex;
flex-direction:column;
}

label{
margin-top:10px;
font-weight:bold;
}

/* Inputs */
input, select{
padding:10px;
margin-top:5px;
border-radius:5px;
border:1px solid #ccc;
}

/* Row */
.row{
display:flex;
gap:10px;
}

.row input{
flex:1;
}

/* Checkbox */
.check{
display:flex;
gap:15px;
margin-top:5px;
}

/* Button */
button{
margin-top:20px;
padding:12px;
background:#E6501B;
color:white;
border:none;
border-radius:25px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#c43d0f;
}